
.movies-grid {
  display: flex;
  flex-wrap: nowrap;
  gap: 1rem;
  user-select: none;
  overflow-x: auto;
  scroll-behavior: smooth;

  padding: 1rem 0;
}


.section-header {
  display: flex;
  align-items: center;
  justify-content: space-around;
margin-top: 2rem;
  gap: 1rem;
}

.sliderBtn {
   width: 28px;
  height: 28px;

  display: flex;
  align-items: center;
  justify-content: center;

  border: none;
  border-radius: 50%;

  background: rgba(255, 255, 255, 0.08);
  backdrop-filter: blur(8px);

  color: white;
  font-size: 1.2rem;

  cursor: pointer;

  transition: all 0.25s ease;
}
.sliderBtn:hover{
 background: #251c47;
 
  box-shadow: 0 4px 15px rgba(124, 92, 255, 0.4);
}

.slider-btn:active {
  transform: scale(0.95);

}
.embla {
  overflow: hidden;
}

.embla__container {
  display: flex;
  gap: 1rem;
  margin-top: 2rem;
}

.embla__slide {
  flex: 0 0 250px;
}
.slider-wrapper {
  display: flex;
  align-items: center;
  
}

.embla {
  flex: 1;
  overflow: hidden;
}

@media (max-width: 768px) {
  .embla__slide {
    flex: 0 0 180px;
  }

  .movie-card {
    width: 180px;
  }
}

@media (max-width: 480px) {
  .embla__slide {
    flex: 0 0 150px;
  }

  .movie-card {
    width: 150px;
  }
}